*{
    font-family: 'Muli', sans-serif;
    margin: 0;
    padding: 0;
}

.bg{
    background-color: black;
}

.p-top{
    padding-top: 100px;
}

.p-padding{
    padding-left: 30px;
}

.leftBorder{
    border-left: 1px solid white;
    padding-left: 2px;
}

.color{
    color: white;
}

.color:hover{
    transition: 0.5s;
    color: #E64A19;
}

.nav-link{
    font-size: 20px;
}

.car-img{
    height: 100vh;
    width: 100vw;
}

.fixed{
    position: relative;
}

a.custom{
    border: 2px solid #E64A19;
    border-radius: 0px;
    background-color: transparent;
    text-transform: uppercase;
    color: white;
}
a.custom:hover {
    transition: 0.25s;
    border: 2px solid #E64A19;
    border-radius: 0px;
    background-color: #E64A19;
    color: white;
    text-transform: uppercase;
}

.caption{
    transform: translate(-50%, -10%);
}

.border1{
    border: 1px solid white;
}

.title{
    color: #E64A19;
}

.head-padding{
    padding: 70px 0;
}

.card-body{
    padding-bottom: 50px;
}

.lot{
    padding-left: 10px;
    height: 50vh;
    width: 100%;
    margin: 0;
}

.lot-text{
    font-size: 25px;
}

.border-orange{
    border: 1px solid #E64A19;
}

.icon-orange{
    color: #E64A19;
}

.card-body{
    background-color: black;
}

.about-me{
    height: 55vh;
    width: 30vw;
    margin-left: 5px;
}

.about-me-div{
}

.about-me-padding{
    padding: 50px 0;
}

.about-me-text{
    font-size: 20px;
}

.icons{
    font-size: 70px;
    padding: 0 50px;
}

.fa{
    margin: 20px 50px;
}

.fb{
    color: #3b5998;
    padding: 40px 55px;
}

.fb:hover {
    transition: 0.25s;
    color: #212121;
    color: black;
    background-color: #E64A19;
}

.ig{
    color: rgb(138, 58, 185);
    padding: 40px 50px;
}

.ig:hover{
    transition: 0.25s;
    color: #212121;
    color: black;
    background-color: #E64A19;
}

.tw{
    padding: 40px 50px;
    color: #38A1F3;
}

.tw:hover{
    transition: 0.25s;
    padding: 40px 50px;
    color: black;
    background-color: #E64A19;
}

.socials-title{
    margin: 50px 0;
}

.ab-list{
    color: #E64A19;
}

hr{
    background-color: #E64A19;
}

.data-gather{
    height: 40vh;
    
}